*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    
}
body{
    width: 1349px;
}
.header{
    height: 67px;
    width: 1349px;
    /* overflow: hidden; */
}
.header .logo{
    float: left;
    width: 126px;
    height: 43px;
    margin: 10px 0 10px 80px;
    background: url(img/logo.png) no-repeat ;
}
.header .search{
    float: left;
    width: 382px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid #8ebefc;
    border-radius: 4px;
    background: #fff;
}
.header .ser{
    margin-left: 4px;
    width: 210px;
    height: 28px;
    border: none;
    outline: none;
    float: left;
}
.header .sub{
    float: right;
    width: 44px;
    height: 30px;
    background: url(img/ser.png) no-repeat 8px 0;
    border:none;
    background-color: #a4cdff;
}
.header .sub:hover{
    background-color: #2577e3;
}
.header .service{
    float: right;  
    margin-top: 0px;  
    width: 444px;
    height: 67px;
    margin-right: 50px; 
    /* overflow: hidden; */
    /* background: gray; */
    position: relative;
    
}
.header .service ul{
    width: 444px;
    height: 67px;
}
.header .service li{
    float:right;
    margin-top: 25px;
    line-height: 20spx; 
    margin-right: 10px;
    height: 20px;
    cursor: pointer;
    color: #656565;
    font-size: 12px;
}
.header .service .li3{
    padding:0 5px;
}
.header .service .word{
    padding: 0 5px;
    /* margin: 0 10px; */
}
.header .service .box1{
    width: 158px;
    height: 220px;
    background: url(img/ewm.png) no-repeat;
    position: absolute;
    top: 40px;
    right: 0px; 
    display: none;  
    z-index: 66;
}
.header .service .li1:hover .box1{
    display: block;
    border: 4px solid #b8b8b8;
    box-sizing: border-box;
}
.header .service .box2{
    width: 188px;
    height: 74px;
    background: url(img/tel.png) no-repeat;
    position: absolute;
    top: 40px;
    right: 92px; 
    display: none; 
    z-index: 66;
}
.header .service .box2 .row02{
    width: 124px;
    height: 4px;
    position: absolute;
    top: -4px;
    right: 0px;
    background: #fff;
}
.header .service .li2 .word2{
    border: 4px solid #fff;
    margin-top: -4px;
}
.header .service .li2:hover .word2{
    border: 4px solid #b8b8b8;
    box-sizing: border-box;
}
.header .service .li2:hover .box2{
    display: block;
    border: 4px solid #b8b8b8;
    box-sizing: border-box;
}
.header .service .li3 a{
    color: #656565;
}
.header .service .li3 a:hover{
    text-decoration: underline;
}
.header .service .box4{
    width: 158px;
    height: 377px;
    background: url(img/lang.png) no-repeat;
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;  
    z-index: 66;
}
.header .service .li4 .word4{
    border: 4px solid #fff;
    box-sizing: border-box; 
    margin-top: -4px;
}
.header .service .li4:hover .word4{
    border: 4px solid #b8b8b8;
    box-sizing: border-box;
}
.header .service .li4 .row04{
    width: 68px;
    height: 4px;
    background: #fff;
    position: absolute;
    top:-4px;
    left: 0;
}
.header .service .li4:hover .box4{
    display: block;
    border: 4px solid #b8b8b8;
}
.nav{
    position: relative;
    width: 1349px;
    height: 80px;
}
.nav .banner{
    width: 1349px;
    height: 40px;
    background: #2577e3;
}
.nav .banner ul{
    width: 100%;
    height: 40px;
}
.nav .banner li{
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    float: left;
    /* margin-left: 8px; */
    /* cursor: pointer; */
}
.nav .banner span{
    color:#1d67dd;
    /* float: left; */
    /* margin-left: 1px; */
    
}
.nav .banner .first{
    margin-left: 85px;
    background: #0a56bb;
} 
.nav .banner li>a{
    float: left;
    /* display: inline-block; */
    padding: 0 10px 0 10px;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
    color: #fff;
}
.nav .banner li>a:hover{
    background: #0a56bb;
}


 /* 15个li  */


.nav .banner .last{
    position: absolute;
    top: 0px;
    right: 85px;
}
.nav .banner .login{
    width: 160px;
    height: 40px;
    background: #ff9913;
    position: relative;
    /* margin-right: 85px; */
    line-height: 20px;
    /* color: #fff; */
    font-size: 8px;
}
.nav .banner .login .img{
    width: 17px;
    height: 17px;
    display: inline-block;
     /* margin-top: 5px;
    margin-left: 5px;  */
    position: absolute;
    top: 6px;
    left: 6px;
    background: url(img/peo.png) no-repeat;
    vertical-align: middle;
    /* margin-right: 20px; */
}
.nav .banner .login span{
    margin-left: 27px;
}
.nav .login a{
    color: #fff;
}
.nav .login span{
    color: #fff;
}
.nav .login .user{
    margin-left: 7px;
}
.item{
    height: 40px;
}
.item li{
    height: 40px;
    float: left;
    margin: 10px 10px 0 10px; 
    font-size: 13px;
    color: #666;
    cursor: pointer;
}
.item li:hover{
    color: #74a8ed;
}
.item li img{
    vertical-align: middle;
}
.item .first{
    margin-left: 85px;
    color: #fff;   
}
.item .li1{
    text-align: center;
    color: #fff;
    border-radius: 3px;
    width: 95px;
    height: 20px;
    background: #74a8ed;
}
.table{
    position: relative;
    width: 100%;
    height: 340px;
    background: url(img/bg.jpg) no-repeat center;
}
.table .image{
    width: 582px;
    height: 300px;
    background: url(img/table.png) no-repeat;
    position: absolute;
    top: 10px;
    left: 85px;
}
.content{
    overflow: hidden;
    background: #f6f6f6; 
    height: 2466px;
    width: 100%;
}
.content .method{
    margin-top: 30px;
    /* height: 450px;  */
    
}
.content .wrapper{
    margin-left: 85px;
    width: 1182px; 
}
.content .head{
    font-size: 15px;
    color: #333;
}
.clear{
    clear: both;
}
.content .head li{
    float: left;
    margin-left: 20px;
}
.content .head .first{
    color: #74a8ed;
}
.content .head .last{
    float: right;
    text-align: bottom;
    font-size: 8px;
    color: #74a8ed;
}
.content .article{
    width: 1180px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-top: 2px solid #3983e5;
    padding: 10px;
}
.content .method .article{
    height: 380px;
}
.content .article .subnav li{
    float: left;
    margin-left: 30px;
    color: #3983e5;
    border-radius: 3px;
    font-size: 10px;
    padding:0 4px;
}
.content .article .subnav .first{
    color: #fff;
    background: #3983e5;
}
.content .article .subnav .last{
    float: right;
}
.content .article .box1{
    float: left;
    width: 920px;
}
.content .article .box1 li{
    width: 220px;
    height: 164px;
    float: left;
    margin: 5px;
}
.content .article .box1 .li1{
    background: url(img/m1.png) no-repeat;
}
.content .article .box1 .li2{
    background: url(img/m2.png) no-repeat;
}
.content .article .box1 .li3{
    background: url(img/m3.png) no-repeat;
}
.content .article .box1 .li4{
    background: url(img/m4.png) no-repeat;
}
.content .article .box1 .li5{
    background: url(img/m5.png) no-repeat;
}
.content .article .box1 .li6{
    background: url(img/m6.png) no-repeat;
}
.content .article .box1 .li7{
    background: url(img/m7.png) no-repeat;
}
.content .article .box1 .li8{
    background: url(img/m8.png) no-repeat;
}
.content .article .box2{
    margin: 5px;
    float: left;
    width: 222px;
    height: 330px;
    background: url(img/coin.png) no-repeat;
}
.hotel{
     margin-top: 30px; 
     overflow: hidden;
     height: 405px;
    
}
.content .hotel .article{
    height: 360px;
}
.content .hotel .block1{
    float: left;
    padding: 10px;
    width:203px;
    height: 350px;
    border-right:1px dotted #666;
    
}
.content .hotel .block1 li{
    margin: 10px;
    font-size: 12px;
    color: #666;
}
.content .hotel .block1 .tit{
    color: #333;
    font-weight: 900; 
}
.content .hotel .block2{
    width: 950px;
    height: 360px;
    float: left;
}
.hotel .block2 .subnav li{
    float: left;
    margin-left: 30px;
    color: #3983e5;
    border-radius: 3px;
    font-size: 10px;
    padding: 0 4px;
}
.hotel .block2 .subnav .first{
    color: #fff;
    background: #3983e5;
}
.hotel .block2 .subnav .last{
    float: right;
}
.content .hotel .part1{
    float: left;
    width: 696px;
    height: 345px;

}
.content .hotel .part1 li{
    width: 220px;
    height: 160px;
    float: left;
    margin: 6px;
}
.content .hotel .part1 .pic1{
    background: url(img/block1.png) no-repeat;
}
.content .hotel .part1 .pic2{
    background: url(img/block2.png) no-repeat;
}
.content .hotel .part1 .pic3{
    background: url(img/block3.png) no-repeat;
}
.content .hotel .part1 .pic4{
    background: url(img/block4.png) no-repeat;
}
.content .hotel .part1 .pic5{
    background: url(img/block5.png) no-repeat;
}
.content .hotel .part1 .pic6{
    background: url(img/block6.png) no-repeat;
}
.content .hotel .part2{
    width: 219px;
    height: 330px;
    margin: 5px;
    float: left;
    background: url(img/block0.png) no-repeat;
}
.content .plan{
    margin-top: 30px;
}

.content .plan .article{
    height: 360px;
}
.content .plan .part1{
    width: 912px;
    float: left;
}
.content .plan .part1 li{
    float: left;
    background: url(img/plan1.png) no-repeat;
    width: 218px;
    height: 108px;
    margin: 5px;
}
.content .plan .part2{
    margin: 5px;
    background: url(img/plan0.png);
    width: 222px;
    height: 340px;
    float: left;
}
.content .car{
    margin-top: 30px;
}
.content .car .article{
    height: 177px;
}
.content .car .part1{
    float: left;
    padding: 10px;
    width: 203px;
    height: 168px;
    border-right: 1px dotted #666;
}
.content .car .part1 li{
    margin: 10px;
    font-size: 12px;
    color: #666;
}
.content .car .block{
    float: left;
}
.content .car .block li{
    margin: 5px;
    float: left;
    width: 220px;
    height: 150px;
    background: url(img/car.png) no-repeat;
}
.content .place {
    margin-top: 30px;
}
.content .place .article{
    height: 190px;
}
.content .place .part1{
    float: left;
    padding: 10px;
    width: 203px;
    height: 168px;
    border-right: 1px dotted #666;
}
.content .place .part1 li div{
    float: left;
    margin: 10px 5px;
    color: #666;
    font-size: 12px;
}
.content .place .part2 {
    float: left;
}
.content .place .part2 .block li{
    width: 220px;
    height: 160px;
    float: left;
    margin: 6px;
    background: url(img/game0.png) ;
}
.content .travel{
    margin-top: 30px;
}
.content .travel .article {
    width: 1200px;
    height: 168px;
    background: #f6f6f6;
    border: none;
    border-top: 2px solid #3983e5;
    padding: 0;
}
.content .travel .part{
    width: 393px;
    height: 148px;
    background: #fff;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    color: #666;
}
.content .travel .part3{
    margin-right: 0px;
}
.content .travel .wrp{
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}
.content .travel .wrp1{
    background: #abcdf5;
}
.content .travel .wrp2{
    background: #cbe2d3;
}
.content .travel .wrp3{
    background: #f6dbb9;
}
.content .travel .pho{
    margin-left: 12px;    
    background: url(img/wifi.png) no-repeat;
}
.content .travel .wifi{
    background-position: 0 0;
    margin-top: 18px;
    width: 47px;
    height: 35px;
}
.content .travel .visa{
    background-position-y: -35px;
    margin-top: 10px;
    width: 47px;
    height: 47px;
}
.content .travel .safe{
    background-position-y: -90px;
    margin-top: 10px;
    width: 47px;
    height: 47px;
}
.content .travel .part .block1{
    width: 393px;
    height: 104px;
    border-bottom: 1px solid #e0e0e0;
}
.content .part .block1 li{
    margin-top:5px ;
}
.content .part .block1 .cover{
    float: left;
    width: 250px;
    height: 100px;
}
.content .part .block1 .fir{
    font-size: 15px;
    color: #000;
    margin-top: 20px;
}
.content .part .block2 li{
    float: left;
    color: #000;
    width: 97px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-right: 1px dotted #666;
}
.content .part .block2 .last{
    border:none;
}
.mbd{
    background: url(img/mbd.png);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.content .part .block2{
    width: 393px;
    height: 42px;
}
.content .part .block2 .spc li{
    width: 33.3%;
    box-sizing: border-box;
}
.content .partner{
    margin-top: 30px;
}
.content .partner .article{
    padding: 0px;
    width: 1200px;
    height: 348px;
    border-top:1px solid #e0e0e0;
}
.content .partner .row1{
    width:1200px;
    height:100px;
}
.content .partner .R-first {
    float: left;
    width: 220px;
    height: 100px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.content .partner .card{
    float: left;

}
.content .partner .card li{
    font-size: 12px;
    color: #666;
    margin: 10px;
}
.content .partner .card .first{
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}
.content .partner .R-first .more{
    float: right;
    font-size: 12px;
    color: #b6b6b6;
    margin-top: 20px;

}
.content .partner .R-after{
    float: left;
    width: 979px;
    height: 100px;
    border-bottom: 1px solid #e0e0e0;
}
.content .partner .R-head{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.content .partner .R-after li{
    width: 162px;
    height: 31px;
    border-right: 1px dotted #e0e0e0;
    float: left;
    margin-top: 10px;
    background: url(img/tu.png);
    background-position-x: -13px;
}
.content .partner .R-after .yiyou{
    border:none;
}
.content .partner .listnav .hang{
    /* height: 35px; */
    box-sizing: border-box;
    width: 1200px;
    border-top: 1px dotted #e0e0e0;
}
.content .partner .listnav .hang li{
    width: 90px;
    height: 35px;
    line-height:35px; 
    text-align: left;
    float: left;
    font-size: 12px;
    color: #b6b6b6;
}
.content .partner .listnav .hang .first{
    font-weight: 900;
    color: #000;
    margin-left: 10px;
}
.content .partner .listnav .hang .special{
    height: 70px;
    line-height: 35px;
}
.footer{
    color: #666;
    margin-top: 30px;
    width: 100%;
}
.footer .wrapper{
    margin-left: 85px;
}
.footer .article{
    width: 1180px;
    padding: 10px;
    /* background: cyan; */
}
.footer .why{
    margin-right: 20px;
    width:225px;
    height:200px;
    float: left;
    border-right: 1px solid #ededed;
    /* background: magenta; */
}
.footer .why li{
    float: left;
    height: 18xp;
    line-height: 18px;
    font-size: 14px;

}
.footer .why .fuwu{
    width: 36px;
    height: 36px;
    margin-top: 10px;
    background: url(img/hard.png) 0 -7px;
}
.footer .why .wfuwu{
    font-size: 20px;
    color: #2577e3;
    margin-top: 10px;
    margin-bottom: 5px;
}
.footer .why .jiage{
    margin-top: 20px;
    width: 36px;
    height: 36px;
    background: url(img/hard.png) 0 -57px;
}
.footer .why .wjiage{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #ff9913;
}
.footer .zixun{
    margin-right: 20px;
    width:225px;
    height:200px;
    float: left;
    border-right: 1px solid #ededed;
}
.footer .jiameng{
    margin-right: 20px;
    width:225px;
    height:200px;
    float: left;
    border-right: 1px solid #ededed;
}
.footer .guanyu{
    margin-right: 20px;
    width:225px;
    height:200px;
    float: left;
    border-right: 1px solid #ededed;
}
.footer .title{
    font-size: 20px;
    color: #666;
}
.footer .list li{
    width: 112px;
    float: left;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;

}
.footer .qr{
    width:195px;
    height:200px;
    float: left;
}
.footer .qr .gzh{
    font-size: 15px;
    text-align: center;
}
.footer .qr .qrp{
    background: url(img/QR.png);
    width:136px;
    height:160px;
    margin-left: 34px;
}
.footer .word li{
    width: 100%;
    text-align: center;
    color: #999;
    margin-top: 8px;
    font-size: 12px;
}